:root { /* :root not :role <facepalm> */
    --cc-dark-cyan-: hsl(185, 75%, 39%);
    --cc-dark-blue-: hsl(229, 23%, 23%);
    --cc-gray-blue-: hsl(227, 10%, 46%);
    --cc-dark-gray-: hsl(0, 0%, 59%);

    --ff-text-font-: 'Kumbh Sans', sans-serif; font-weight: 400; /* font size 1.125rem */
    --ff-header-font-: 'Kumbh Sans', sans-serif; font-weight: 700; /* font size 1.125rem */
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: url('../images/bg-pattern-top.svg'), url('../images/bg-pattern-bottom.svg'), var(--cc-dark-cyan-);
    background-repeat: no-repeat;
    background-position: right 40vw top -75vh, left 40vw top 47vh;
    overflow: hidden;
    font-family: var(--ff-text-font-);
}

.main-info {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    height: 350px;
    width: 250px;
}

img {
    border: 5px solid white;
    border-radius: 50%;
    position: absolute;
}

.user-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-top: 130px;
}

.user-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-top: 40px;
    text-align: center;
}

.upper-bg {
    background: url('../images/bg-pattern-card.svg');
    border-radius: 15px 15px 0px 0px;
}

.user-stats {
    display: flex;
    flex-direction: row;
    border-top: 0.5px solid hsl(0, 0%, 59%);
    justify-content: space-around;
    align-content: space-around;
    font-size: 0.70rem;
    letter-spacing: 0.10rem;
}

.user-followers, .user-likes, .user-photos {
    text-align: center;
    padding: 5px;
}

h1 {
    line-height: 5px;
    font-size: 1.125rem;
    padding-top: 15px;
}

span {
    font-weight: 400;
    padding-left: 10px;
    color: var(--cc-gray-blue-);
}

.user-location {
    color: var(--cc-gray-blue-);
    line-height: 5px;
    font-size: 0.8rem;
}

p {
    padding-bottom: 10px;
    color: var(--cc-gray-blue-);
    letter-spacing: 1px;
}

.attribution {
    position:fixed;
    bottom: 0px;
    font-size: 11px; 
    text-align: center;
    font-family: sans-serif;
    font-weight: 400;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}


@media (min-width: 440px) {
    .main-info {
        display: flex;
        flex-direction: column;
        width: 350px;
        height: 350px;
    }

    .attribution {
        position:fixed;
        bottom: 0px;
        font-size: 11px; 
        text-align: center;
        font-family: sans-serif;
        font-weight: 400;
    }

    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }

}